<div class="containermodificar">
    <div class="row">
        <div class="col-6 offset-3">
            <h4>Modificar la promocion</h4>
            <form action="/admin/promociones/modificar" method="post" enctype="multipart/form-data">
                <input type="hidden" value="{{promocion.id}}" name="id">
                <div class="form-group">
                    <label for="">Titulo</label>
                    <input type="text" class="form-control" name="titulo" value="{{promocion.titulo}}">
                </div>
                <div class="form-group">
                    <label for="">Subtitulo</label>
                    <input type="text" class="form-control" name="subtitulo" value="{{promocion.subtitulo}}">
                </div>
                <div class="form-group">
                    <label for="">Cuerpo</label>
                    <textarea class="form-control" name="cuerpo">{{promocion.cuerpo}}</textarea>
                </div>
                <div class="form-group">
                    <p>
                        <label>Imagen: <input type="file" class="form-control" name="imagen" id="imagen"></label>
                    </p>
                    <p>
                        <label class="labelimg"><input type="checkbox" name="img_delete" id="img_delete" value="1"> Eliminar imagen
                            actual?</label>
                        <input type="hidden" name="img_original" value="{{promocion.img_id}}">
                    </p>
                </div>
                <button type="submit" class="btn btn-primary">Modificar</button>
            </form>
            <div class="alertmodificar">
                {{#if error}}
                <p>{{message}}</p>
                {{/if}}
            </div>
        </div>
    </div>
</div>